/*
	CSS Rules
	selector{
		property: value;
	}

	or

	selector {property:  value;}
*/

/*Type Selector*/

/*tag name
	>>specified tag
	>>color -changes the font color*/
h1{
	/*!important property has the highest priority, using this will prioritize the property*/
	color: indianred !important;
	text-align: center;
	/*rem - root element size, 1rem = 16px*/
	font-size: 2rem;

}

/*Universal Selector
	>>targets all elements
	>>font-family for the style of the font
	>>Courier New here is the primary font
	>>monospace- secondary font*/
*{
	font-family: "Courier New" , monospace;
	/*20 px - 20 pixels*/
	font-size: 20px;
}

/*id selector*/
#zuittMotto {
	/*letter-spacing here changes the spaces in between characters*/
	letter-spacing: 5px;
}
/* CSS Specificity Rules
ID selector have the higest priority for selectors*/
h3{
	letter-spacing: 25px;
}

/*class selector*/
.offering-item{
	text-transform: uppercase;
}

/*attribute selector*/
/*tagname[attribute]*/

input[required]{
border-width: 2px;
border-style: solid;
border-color: navy;
}

/*combinator selector*/
/*adjacent sibling selector*/
/*selector + selector*/
h3 + img {
	/*height for changing vertical dimentions of an element*/
	height: 300px;
	/*width for changing horizontal dimention of an element*/
	width: 300px;
	/*border-radius for changing the corners of an element from sharp to rounder corner*/
	border-radius: 150px;
}

/*descendant selector*/
#bootlearn li {
	/*hexcode for colors*/
	color: #075966;
}

/*general sibling selector*/
/*selector ~ selector*/
h2 ~ a{
	text-decoration: none;
}

/*child selector*/
/*selector > selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}

/*more styling*/
body 
{
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;}

nav {
	background-color: white;
}

a:hover {
	/*highlight when hovered*/
	background-color: #b4d6de;
}

div {
	/*one line with sibling*/
	display: inline-block; 
	float: right;
}

/*landing section*/
section {
	/*viewport height*/
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style: none;
}

/*register section*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 225px;
	width: 25vw;
	position: relative;
	/*horizontal positioning, putting 37.35% left*/
	left: 37.25%;
}
button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}