#pTag {
 color: hotpink;
}

*{
	font-family: Times New Roman, monospace;
	font-size: 16px;
}
h1 {
	font-size: 32px;
}

#head2 {
	text-transform: uppercase;
}

.list {
	background-color: orangered;
}

.list2 {
	border: 1px solid red;
}

img + ul {
	list-style-type: circle ;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}